---
import Layout from "../layout/Layout.astro";
import Header from "../components/Header.astro";
import Footer from '../components/Footer.astro'
---

<Layout/>
    <Header/>
    <h1 style="color: azure; text-align: center;">Aca van entradas de blog </h1>
    <Footer/>
</Layout>