---
import Layout from "../layout/Layout.astro";
import Header from "../components/Header.astro";
import Footer from '../components/Footer.astro'

import FormularioUrl from '../components/Formulario-url.astro'
---

<Layout/>
    <Header/>
    <h1 style="color: azure; text-align: center;">Aca va un formulario</h1>
	<FormularioUrl/>

    <Footer/>
</Layout>