---
import Layout from "../layout/Layout.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";

---

<Layout />
<div>
  <Header />

  <Footer />
</div>
<Layout />


