---
import Layout from "../layout/Layout.astro";
import Header from "../components/Header.astro";
import Footer from '../components/Footer.astro'
import GaleriaScroll from '../components/GaleriaScroll.astro'
---

<Layout/>
    <Header/>
    <main>
        <h1>Nuestras Imágenes del Humedal El Yali</h1>
        <p>Explora la belleza y diversidad del Humedal El Yali a través de nuestras fotografías.</p>

    <GaleriaScroll/>

    <Footer/>
</Layout>

<style>
    
    .GaleriaScroll {
        
    }
</style>