<section>
    <h2>¿Qué es el Humedal el yali?</h2>
    <p>
        El Humedal El Yali es un santuario de biodiversidad ubicado en la costa de la región de Valparaíso, Chile. 
        Este humedal esta compuesto por al rededor de 16 cuerpos de agua entre lagunas, esteros, embalses, desembocadura, entre otros. 
        y tiene una extensión de 11.000 hectáreas. sus limiter son por el norte el estero tricao, por el sur el estero maitenlahue, por el este la ruta de la fruta y por el oeste el océano pacífico.
        Desde tiempos ancestrales, este humedal ha sido un refugio natural para una increíble variedad de aves migratorias y especies nativas. Su historia está marcada por la interdependencia entre la flora, fauna y las comunidades locales que lo han protegido durante generaciones. Hoy en día, es reconocido como un sitio Ramsar, lo que lo convierte en un área de importancia internacional para la conservación.
    </p>
    
    <div>
        <img src="/mapaYali.jpeg" alt=""/>
    </div>
    <p class="texto-mapa">Mapa de la zona publicado por el Instituto Geográfico Militar de Chile en 1954.</p>
    <a href="/blog">
        <button>Descubre Más</button>
    </a>
  </section>
  
  <style>
    section {
      text-align: center;
      padding: 2rem;
      background-color: rgb(39, 39, 39);
      margin-top: 10rem;
      color: aliceblue;
    }
  
    h2 {
      font-size: 2rem;
      margin-bottom: 1rem;
    }
  
    p {
      margin: 20px auto;
      max-width: 1000px;
      font-size: 1.25rem;
      line-height: 1.5;
    }
  
    span {
      font-weight: bold;
    }

    button {
        margin: 1rem auto;
        width: 10rem;
        height: 3rem;
        background-color: #f9f9f9;
        font-size: medium;
        border-radius: 10rem;
        border: none;
        transition: all 0.2s;;
    }

    button:hover {
        background-color: #3c5a3f;
        color: white;
    }
  
    div {
      display: flex;
      justify-content: center;
      overflow: hidden;
      width: auto;
      height: auto;
      margin: 2rem;
    }
  
    img {
      margin: auto;
      width: auto;
      height: 30rem;
      transition: all 1s;
    }
    img:hover {
      transform: scale(6.9);
      transform-origin: 50% 80%;
      transition: all 1s;
    }

    @media (max-width: 600px) {
        img {
            height: 10rem;
        }
    }

    .texto-mapa {
        font-size: 1rem;   
    }

  </style>
  