<section>
  <h2>¿Qué es Yali Salvaje?</h2>
  <p>
    Yali Salvaje es un proyecto de conservación y educación ambiental que busca
    proteger el <span>Humedal El Yali</span> y su biodiversidad. A través de actividades
    de turismo sostenible, investigación científica y educación ambiental, queremos
    promover la conservación de este ecosistema único en la Región de Valparaíso,
    Chile. Ademas en esta pagina podras encontrar informacion sobre la flora y fauna
    del humedal.
  </p>

  <div>
    <img src="/logo.png" alt="">
  </div>
</section>

<style>
  section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    text-align: center;
    background-color: #f0f0f0;
    margin: auto;
  }

  h2 {
    font-size: 2rem;
    margin-bottom: 1rem;
  }

  p {
    margin: 20px auto;
    max-width: 1000px;
    font-size: 1.25rem;
  }

  span {
    font-weight: bold;
  }

  div {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 3rem;
    overflow: hidden;
    width: auto;
    height: auto;
    margin: 2rem;
  }

  img {
    background-color: #272727;
    height: 10rem;
    transition: all 0.5s;
    margin-top: 2rem;
  }

  @media (max-width: 768px) {
    img {
      height: 5rem;
    }
  }
</style>
