<section>
    <h1>Sumérgete en la belleza del Yali a través de nuestra galería de fotos o descubre historias y datos fascinantes en nuestro blog.</h1>
    <div>
        <a href="/galeria">
            <button>Galeria</button>
        </a>
        <a href="/blog">
            <button>Blog</button>
        </a>
    </div>
</section>

<style>

section {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    padding: 10px;
    background-color: rgb(255, 255, 255);
    height: 50vh;
    color: rgb(0, 0, 0);
    }

    button {
        margin: 1rem;
        width: 10rem;
        height: 3.2rem;
        background-color: #272727;
        color: white;
        font-size: medium;
        border-radius: .4rem;
        border: none;
        transition: all 0.2s;;
    }

    button:hover {
        background-color: #3c5a3f;
    }
  
</style>