
<section>
    <h1>Sumérgete en la belleza del Yali <br/> a través de nuestra galería de fotos o descubre historias y datos fascinantes en nuestro blog.</h1>
    <div>
        <a href="/galeria">
            <button>Galeria</button>
        </a>
        <a href="/blog">
            <button>Blog</button>
        </a>
    </div>
</section>

<style>

section {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    padding: 2rem;
    background-color: rgb(255, 255, 255);
    height: 40vh;
    color: rgb(0, 0, 0);
    }

    button {
        color: rgb(255, 255, 255);
        margin: 1rem;
        width: 10rem;
        height: 4rem;
        background-color: #000000;
        font-size: medium;
        border-radius: 10rem;
        border: none;
        transition: all 0.2s;;
    }

    button:hover {
        background-color: rgb(60, 90, 63);
    }
  
</style>