<footer>
    <p>© 2021 Yali Salvaje</p>
</footer>

<style>
    footer {
        background-color: rgb(60, 90, 63);
        color: white;
        padding: 1rem;
        margin-top: 24px;
        text-align: center;
    }
</style>