<div>
    <header>
        <a href="/">
            <img src="/logo.png" alt="">
        </a>
        <nav>
            <a href="/blog">Blog</a>
            <a href="/galeria">Galeria</a>
            <a href="/contacto">Contacto</a>
        </nav>
    </header>
</div>

<style>
    div {
        background-color: rgb(60, 90, 63);
        color: white;
    }

    header {
        display: flex;
        justify-content: space-around;
        align-items: center;
    }   

    img {
        width: 250px;
        transition: .3s ease;

    }

    img:hover {
        transform: scale(1.1);
        transition: .3s ease;
    }

    a {
        color: white;
        text-decoration: none;
        cursor: pointer;
        margin: 16px;
    }
    
</style>