<div>
    <header>
        <a href="/">
            <img src="/logo.png" alt="">
        </a>
        <nav>
            <a href="/blog">Blog</a>
            <a href="/galeria">Galeria</a>
            <a href="/contacto">Contacto</a>
        </nav>
        <div class="hamburger" id="hamburger">
            &#9776;
        </div>
    </header>
        <nav class="menu-hamburger">
            <a href="/blog">Blog</a>
            <a href="/galeria">Galeria</a>
            <a href="/contacto">Contacto</a>
        </nav>
</div>

<style>
    div {
        position: fixed;
        z-index: 1000;
        width: 100%;
        backdrop-filter: blur(24px);
        background-color: rgba(60, 90, 63, 0.726);
        color: white;
    }

    header {
        display: flex;
        justify-content: space-around;
        align-items: center;
        height: 6rem;
    }   

    nav {
        display: none;
    }

    .hamburger {
        position: relative;
        width: 50px;
        font-size: 30px;
        color: white;
        cursor: pointer;
        background-color: rgba(0, 0, 0, 0);
    }
    
    .menu-hamburger {
        line-height: 8rem;
        display: none;
        background-color: rgba(0, 0, 0, 0);
        width: 100%;
        height: 100vh;
        text-align: center;
        font-size: xx-large;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    @media (min-width: 768px) {
        nav {
            display: flex; 
        }
        .hamburger {
            display: none; 
            
        }

        .menu-hamburger {
            display: none;
        }
    }

    img {
        width: 250px;
        transition: .3s ease;
    }

    a {
        color: white;
        text-decoration: none;
        cursor: pointer;
        margin: 0 1rem;
        transition: all .3s ease;
    }

    a:hover {
        color: rgb(167, 167, 167);
    }
    
</style>

<script>
    const hamburger = document.querySelector('#hamburger');
    const menu = document.querySelector('.menu-hamburger');

      
    hamburger.addEventListener('click', () => {
        menu.style.display = menu.style.display === 'none' ? 'flex' : 'none';
    });
    
</script>