<div>
    <header>
        <img src="/logo.png" alt="">
        <nav>
            <a href="/">Galeria</a>
            <a href="/blog">Blog</a>
            <a href="/about">Sobre el Yali</a>
            <a href="/contact">Contacto</a>
        </nav>
    </header>
</div>

<style>
    div {
        background-color: rgb(60, 90, 63);
        color: white;
        padding: 1rem;
        margin: 0;
    }

    header {
        display: flex;
        justify-content: space-around;
        align-items: center;
    }   

    img {
        width: 250px;
    }

    a {
        color: white;
        text-decoration: none;
        cursor: pointer;
        margin: 16px;
    }

    a:hover {
        color: rgb(156, 156, 156);
    }
</style>