---

---

<section>
    <p>Explora el <span>Humedal El Yali</span>, un santuario natural en la Región de Valparaíso, Chile. 
</section>


<style>
    section {
        margin: 4rem auto;
    }

    p {
        font-size: 2rem;
        color: white;
        text-align: center;
        line-height: 1.5;
    }
    
    span {
        color: rgb(60, 90, 63);
        font-weight: bold;
    }   
</style>