<section>
    <div>
        <h1>Fotografias del Yali</h1>
    </div>
    <div>
        <img src="./bajo.jpg" alt="Lago">
    </div>
    <div>
        <img src="./Matanza.jpg" alt="Lago">
    </div>
    <div>
        <img src="./Colaptes pitius.jpg" alt="Lago">
    </div>
    <div>
        <img src="./bajo.jpg" alt="Lago">
    </div>
        <div>
        <img src="./Matanza.jpg" alt="Lago">
    </div>
    <div>
        <img src="./Colaptes pitius.jpg" alt="Lago">
    </div>
</section>

<style>
    section {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        background-color: #f0f0f0;
        ;
    }

    div {
        text-align: center;
        font-size: 2rem;
        color: #333;
    }

    img {
        width: 50%;
        height: auto;
        border-radius: 10px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        transition: transform 0.3s ease;
    }
    h2 {
        position: relative;
        font-size: 1.5rem;
        margin-top: 10px;
        color: #555;
    }
</style>